<%-include("partials/header")%>
<h1>Compose</h1>
<form method="post">
  <label >Title</label><br>
  <input type="text" name="postTitle" class="form-control"placeholder="Enter the title"><br>
  <label >Post</label><br>
  <textarea name="postBody"class="form-control" rows="4" placeholder="Go ahead!" ></textarea><br>
  <button type="submit" name="button" class="btn btn-primary">publish</button>
</form>
<%-include("partials/footer")%>
